* {
    font-family: "Libre Baskerville";
}
html,body{
	color: white;
	height: 100%;
	background-color: #eee;
	background-image: url("../images/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Libre Baskerville";
}

.row{
    margin: 0 auto;
    width: 750px;
}

#forumpol{
	max-width: 100%;
}
.section1{
	display: inline-block;
	padding:50px;
}
.section2{
	border-left: 1px solid #dae3e3;
	display: inline-block;
	padding:50px;
}

.titulo{
	text-align: center;
	padding-bottom: 62px;
}
.usuario{
	padding-bottom: 25px;
}

.login{
	text-align: center;
}

.form-signin {
    text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

input{
	color: white;
	background-color:transparent;
	margin-bottom: 5%;
	border:1px solid #ced4da;
	border-radius: .25rem;
}

#id_username{
	margin-bottom: 5%;
}

#boton{
	margin-top: 27px;
}

#id_password{
	margin: 0;
}

#id_username,#id_password{
	background-color:transparent;
}


@media only screen and (max-width : 480px) {
	#forumpol{
		display: none;
	}

	.new-account-img{
		display: none;
	}

	.section2{
		padding-left: 0;
		border-left: 0;
		margin-left: 1em;
		text-align: center;
	}

	.section1{
		padding-left: 0;
		border-left: 0;
		margin-left: 0;
	}

	.sections{
		padding-left: 0;
	}
}