/* Clase categorias */

.icon {
  float: left;
  padding-right: 12px;
}

#categoria {
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  padding-bottom: 3em;
}

.categoria-heading {
  font-weight: bold;
	padding-left: 1.900em;
	padding-top: 2em;
	padding-bottom: 0.2em;
  color: #001C43;
  display: flex;
  margin: 0;
  font-size: 25px;
}

/* Clases foro */

.foro{
  border-top: 1px solid rgba(255,255,255,.15);
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.875em;
  padding-right: 1.875em;
  width: calc((100&/2)- 1.25em);
  display: flex;
  flex-wrap: wrap;
}

.foro-description {
  font-size: 1.2em;
  line-height: 1.25;
  margin: .25em 0 0;
  max-height: 3.515625em;
  overflow: hidden;
  padding: 0;
}

.foro-details {
  overflow: hidden;
}

.foro-heading {
  font-family: "Libre Baskerville";
  font-size: 1.2625em;
  font-weight: 100;
  font-weight: bold;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
}

.foro-contenido{
  display: flex;
  flex-direction: row;
  padding: 1.160em;
  margin: 1.25em 1em 1.25em;    
  box-shadow: 0 0 0 1px #563737;
  border-width: 1px;
  color: #001C43;
  border-radius: 4px;
  width: 45%;
}

.foro-contenido:hover {
  text-decoration: none;
  background-color: #CDECF4;
}

.foro-contenido:hover .icon {
  -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

@media only screen and (max-width : 480px) {

  .foro-contenido{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }

  #categoria {
    width: 90%;
  }
}


