#categoria{
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}

.anuncios {
	width: 96.5%;
	padding-top: 2em;
	display: flex;
	justify-content: center;
}

.profile_image, .user_detail {
    margin: 2em;
}
