{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}ACERCA DE NOSOTROS | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="{% static 'css/acercaDe.css' %}">{% endblock %}
{% block body %}
	<section>
		<div id="categoria" class="col-9">
			<header class="categoria-header">
				<h1 class="categoria-heading">VISITAS DE ESTUDIANTES POR MES</h1>
			</header>
			<svg width="960" height="500"></svg>
			<script src="https://d3js.org/d3.v4.min.js"></script>
			<script src="{% static 'js/estadisticas.js' %}"></script>
			<header class="categoria-header">
				<h1 class="categoria-heading">NOSOTROS</h1>
			</header>
			<div class="row">
				{% for admin in staff %}
			  	<div class="col-sm-3 col-md-4">
					<div class="thumbnail  tarjeta">
				  		<img class = "card" src="{{ admin.userprofile.image.url }}" alt="perfil-{{ admin.first_name }}">
				  		<div class="caption">
					  		<h3>{{ admin.first_name }} {{ admin.last_name }}</h3>
					  		<p>Estudiante de Ciencias Computacionales</p>
					  		<p><a id="boton{{ admin.first_name }}" href="{{ admin.userprofile.website }}"  class="btn btn-primary" role="button">Perfil de GitHub</a></p>
				  		</div>
					</div>
			  	</div>
				{% endfor %}
			</div>
			<div id="enlace-repositorio" class="alert alert-info" role="button">
			  <a class="alert-link">Visita nuestro repositorio de Github ;)</a>
			</div>
		</div>
	</section>
{% endblock %}