{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}ACERCA DE NOSOTROS | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}
<link rel="stylesheet" type="text/css" href="{% static 'css/acercaDe.css' %}">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/d3.layout.cloud.js' %}"></script>
{% endblock %}
{% block body %}
	<section>
		<div id="categoria" class="col-9" style="text-align:center;">
			<header class="categoria-header">
				<h1 class="categoria-heading">CANTIDAD DE TEMAS POR CATEGORIA.</h1>
			</header>
			<div id="Grafico" class="bubbleChart"></div>
			<header class="categoria-header">
				<h1 class="categoria-heading">USUARIOS CON MAS POST</h1>
			</header>
			<div id="GraficoBubble">
			    <button id="decade">Separar Moderadores</button>
			    <button id="combine">Combinar todos</button>
			</div>
			<header class="categoria-header">
				<h1 class="categoria-heading">TAGS MAS USADOS EN REPOSITORIOS</h1>
			</header>
			<div id="wc_div"></div>
			<script src="{% static 'js/estadisticas.js' %}"></script>
			<script src="{% static 'js/d3_bubble_chart.js' %}"></script>
			<header class="categoria-header">
				<h1 class="categoria-heading">NOSOTROS</h1>
			</header>
			<div class="row">
				{% for admin in staff %}
			  	<div class="col-sm-3 col-md-4">
					<div class="thumbnail  tarjeta">
						{% if admin.userprofile.image %}
				  		<img class = "card" src="{{ admin.userprofile.image.url }}" alt="perfil-{{ admin.first_name }}">
				  		{% else %}
				  		<img src="{% static 'images/usuario1.png' %}" alt="New User" class="usuario">
						{% endif %}
				  		<div class="caption">
					  		<h3>{{ admin.first_name }} {{ admin.last_name }}</h3>
					  		<p>Estudiante de Ciencias Computacionales</p>
					  		<p><a id="boton{{ admin.first_name }}" href="{{ admin.userprofile.website }}"  class="btn btn-primary" role="button">Perfil de GitHub</a></p>
				  		</div>
					</div>
			  	</div>
				{% endfor %}
			</div>
			<div id="enlace-repositorio" class="alert alert-info" role="button">
			  <a class="alert-link">Visita nuestro repositorio de Github ;)</a>
			</div>
		</div>
	<script src="{% static 'js/d3_wordcloud.js' %}"></script>
	</section>
{% endblock %}