{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}FORUMPOL | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="{% static 'css/anuncios.css' %}">{% endblock %}
{% block body %}
    <section>
        <div id="categoria" class="col-9">
            <div class="container anuncios">
				<div class="border border-dark">
					<h2><b>{{thread.topic}}</b></h2>
					{% if anuncio.image %}
						<a href="{{anuncio.image.url}}"><img  src="{{anuncio.image.url}}"  width=500 alt="ImagenAnuncio"></a>
					{% endif %}
					<p>owner: {{anuncio.owner.username}}</p>
					<p>contenido: {{anuncio.content}}</p>
					<p>fecha: {{anuncio.date}}</p>
				</div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}<!--script src="{% static 'js/carga_posts.js' %}"></script-->{% endblock%}