{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}FORUMPOL | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="{% static 'css/anuncios.css' %}">{% endblock %}
{% block body %}
    <section>
        <div id="categoria" class="col-9">
            <div class="container anuncios">
                <h2>
                    <b>ANUNCIOS</b>
                    <a href="{% url 'foro:create_anuncio' %}" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-plus"> Nuevo Hilo</span></a>
                    {% if moderador %}
                        <a href="{% url 'foro:aprobar' %}" class="btn btn-primary pull-right" role="button"><span class="glyphicon glyphicon-inbox"> Aprobar Posts</span></a>
                    {% endif %}
                </h2>
                <ul class="list-group">
					{% for thread in anuncios %}
						<li class="list-group-item post-item" >
						<a href="{% url 'foro:detalle_anuncio' thread.op.id %}">{{thread.topic}}</a>
						<span class="post-info pull-right user">{{thread.op.owner.username}}</span>
						<span class="post-info pull-right fecha">{{thread.op.date}}</span>
						<span class="post-info pull-right replies">{{ thread.respuestas }}</span>
						</li>
					{% endfor %}
                </ul>
                <nav id="paginas">
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><span>&laquo;</span></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" aria-label="Next"><span>&raquo;</span></a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </section>
{% endblock %}
{% block script %}<!--script src="{% static 'js/carga_posts.js' %}"></script-->{% endblock%}