{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}GALERIA | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" href="{% static 'css/timeline.css' %}"/>{% endblock %}
{% block body %}
    <div class="container">
        <section class="main">
            {% if usuario.userprofile.moderador %}
                <a href="#año-form"><button type="button" class="btn btn-primary btn-xs año-btn glyphicon glyphicon-pencil"> AGREGAR NUEVO AÑO</button></a>
            {% endif %}
            <ul class="timeline">
                {% for fecha in fechas %}
                    <li class="event">
                        <input type="radio" name="tl-group"/>
                        <label></label>
                        <div class="thumb user-{{ fecha.id }}"><span>{{ fecha.año }}</span>
                            <img class="number" src="{{ fecha.imagen.url }}">
                        </div>
                        <div class="content-perspective">
                            <div class="content">
                                <div class="content-inner">
                                    <h3>¿Qué pasó en {{ fecha.año }}?</h3>
                                    <p>{{ fecha.desc }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <div class="container-fluid rep-container">
            <a name="formulario"></a>
			<form id="año-form"  class="form-signin" role="form" action="" method="post" enctype="multipart/form-data">
                <h3>Escribe tu respuesta: </h3>
				{% csrf_token %}
				{{ form.as_p }}
                <button type="submit" class="btn btn-default btn-reply">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}<script src="{% static 'js/resp.js' %}"></script>{% endblock%}