{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}GALERIA | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" href="{% static 'css/galeria.css' %}"/>{% endblock %}
{% block body %}
    <section id="least">
        <h3><b>GALERIA</b></h3>
        <!-- Least Gallery: Fullscreen Preview -->
        <div class="least-preview"></div>

        <!-- Least Gallery: Thumbnails -->
        <ul class="least-gallery">
            {% for key, value in info.items %}
            <li>
                <a href="{{ key.image.url }}" title="{{ key.owner }}" data-subtitle="{{ key.date }}" data-caption="<a href='{% url 'foro:detalle_anuncio' value.op.id %}'><b>{{ value.topic }}</b></a> - {{ key.content }}">
                    <img src="{{ key.image.url }}" alt="Alt Image Text" />
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
{% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/least.min.js' %}"></script>
    <script src="{% static 'js/galeria.js' %}"></script>
{% endblock%}