{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}FORUMPOL | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="{% static 'css/hilo.css' %}">{% endblock %}
{% block body %}
    <div id="hilo" class="col-9">
        <div id="op-post" class="container-fluid">
            <h3 class="post-topic">{{thread.topic}}<button class="btn btn-primary btn-xs pull-right resp-btn">RESPONDER</button></h3>
            <div id="op">
                <div class="poster">
                    <div class="poster-info">
                        <span class="glyphicon glyphicon-user">{{anuncio.owner.username}}</span>
						{% if anuncio.owner.userprofile.image %}
						<img src="{{anuncio.owner.userprofile.image.url}}" alt="userProfilePicture">
						{% endif %}
                    </div>
                </div>
                <div class="post-area">
					{% if anuncio.image %}
						<a href="{{anuncio.image.url}}"><img  src="{{anuncio.image.url}}"  width=500 alt="ImagenAnuncio"></a>
					{% endif %}
                    <p>{{anuncio.content}}</p>
                </div>
				<p>{{anuncio.date}}</p>
            </div>
        </div>
		{% for post in respuestas %}
        <div class="container-fluid rep">
            <div class="poster">
                <div class="poster-info">
                    <span class="glyphicon glyphicon-user">{{post.owner.username}}</span>
                    {% if post.owner.userprofile.image %}
						<a href="{{post.owner.userprofile.image.url}}"><img  src="{{post.owner.userprofile.image.url}}"  width=500 alt="ImagenResputa"></a>
					{% endif %}
                </div>
            </div>
            <div class="post-area">
				{% if post.image %}
						<a href="{{post.image.url}}"><img  src="{{post.image.url}}"  width=500 alt="ImagenResputa"></a>
				{% endif %}
                <p>{{post.content}}</p>
            </div>
            <div class="post-num">
                <p>{{post.date}}</p>
            </div>
        </div>
		{% endfor %}
    </div>
    <div id="hilo-footer" class="col-9">
        <div class="container-fluid rep-container">
			<form id="resp-box" class="form-signin" role="form" action="" method="post" enctype="multipart/form-data">
                <h3>Escribe tu respuesta: </h3>
				{% csrf_token %}
				{{ form.as_p }}
                <button type="submit" class="btn btn-default btn-reply">Enviar</button>
            </form>
        </div>
        <nav id="paginas">
            <ul class="pagination">
                <li><a href="#" aria-label="Previous"><span>&laquo;</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" aria-label="Next"><span>&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
{% block script %}<script src="{% static 'js/resp.js' %}"></script>{% endblock%}