{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}FORUMPOL | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">{% endblock %}
{% block body %}
    <section>
        <div id="categoria" class="col-9">
            <header class="categoria-header">
                <h1 class="categoria-heading">COMUNIDAD ESPOL</h1>
            </header>
            <div class="foro">
                <a href="{% url 'foro:anuncios' %}" class="foro-contenido">
                    <div class="foro-details">
                        <i class="far fa-newspaper fa-5x icon"></i>
                        <h1 class="foro-heading">Anuncios</h1>
                        <span class="foro-description">Informacion general de cualquier tema de la ESPOL.</span>
                    </div>
                </a>
                <a href="{% url 'foro:clubs_espol' %}" class="foro-contenido">
                    <div class="foro-details">
                        <i class="fas fa-users fa-5x icon"></i>
                        <h1 class="foro-heading">Clubes Espol</h1>
                        <span class="foro-description">Enterate de todo lo que los clubes de ESPOL ofrecen.</span>
                    </div>
                </a>
                <a href="{% url 'foro:vida_estudiantil' %}" class="foro-contenido">
                    <div class="foro-details">
                        <i class="fas fa-universal-access fa-5x icon"></i>
                        <h1 class="foro-heading">Vida Estudiantil</h1>
                        <span class="foro-description">Comparte tus experiencias con los nuevos estudiantes de la ESPOL.</span>
                    </div>
                </a>
				{% if user.is_staff or user.userprofile.moderador %}
				<a href="{% url 'foro:moderacion' %}" class="foro-contenido">
                    <div class="foro-details">
                        <i class="fas fa-shield-alt fa-5x icon"></i>
                        <h1 class="foro-heading">Panel de moderación</h1>
                        <span class="foro-description">Informacion sobre los usuarios y post en el foro.</span>
                    </div>
                </a>
				{% endif %}
            </div>
            <header class="categoria-header">
                <h1 class="categoria-heading">RECURSOS</h1>
            </header>
            <div class="foro">
                <a href="#" class="foro-contenido">
                    <div class="foro-details">
                        <i class="fas fa-book fa-5x icon"></i>
                        <h1 class="foro-heading">Folletos</h1>
                        <span class="foro-description">Aquí encontrarás folletos de todas las materias que necesites</span>
                    </div>
                </a>
                <a href="{% url 'foro:repo' %}" class="foro-contenido">
                    <div class="foro-details">
                        <i class="fas fa-database fa-5x icon"></i>
                        <h1 class="foro-heading">Repositorio</h1>
                        <span class="foro-description">Aquí encontrarás exámenes y lecciones de cualquier materia</span>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
