{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}FORUMPOL | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/repo.css' %}">
{% endblock %}
{% block body %}
	<section>
		<div id="repo_body" class="col-9">
			<div class="container recursos">
				<div class="row">
					<h2>PAGINA NO ENCONTRADA</h2>
				</div>
				<div class="row text-center">
					<img class="center" src="{% static 'images/tenor.gif' %}">
				</div>
				<div class="row">
					<h4>La página que buscas no existe o se ha movido. Si crees que esto es un error, ponte en contacto con el administrador.</h4>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
