{% extends 'Foro/base.html' %}
{% load static from staticfiles %}
{% block title  %}Perfil de {{ usuario }} | "El foro mas cool de toda la ESPOL{% endblock %}
{% block estilo %}<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">{% endblock %}
{% block body %}
    <section>
        <div id="categoria" class="col-9">
            <div class="container anuncios">
				<div class="profile_image">
					{% if usuarioPerfil.userprofile.image %}
						<a href="{{usuarioPerfil.userprofile.image.url }}"><img class="thumbnail" src="{{ usuarioPerfil.userprofile.image.url }}" width="240"></a>
					{% endif %}<br>
				</div>
				<div class="user_detail">
					<h2><b>{{ usuarioPerfil }}</b></h2>
					<p>First name: {{ usuarioPerfil.first_name }}</p>
					<p>Last name: {{ usuarioPerfil.last_name }}</p>
					<p>City: {{ usuarioPerfil.userprofile.city }}</p>
					<p>Website: <a href= "{{ user.userprofile.website }}">{{ usuarioPerfil.userprofile.website }}</a></p>
					<p>Phone: {{ usuarioPerfil.userprofile.phone }}</p>
					{% if user.id == id %}
						<a class="btn btn-default" href="{% url 'accounts:edit_profile' %}">Editar Informacion</a>
						<a class="btn btn-default" href="{% url 'accounts:change_password' %}">Cambiar Contraseña</a>
					{% endif %}
				</div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock%}