{% load i18n %}{% autoescape off %}
{% blocktrans %}Acabas de recibir este email porque hiciste un requerimiento para resetear tu contraseña desde el sitio : {{ site_name }}.{% endblocktrans %}

{% trans "Porfavor abra el siguiente link para poder ingresar su nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Este es tu nombre de usuario, en caso de que lo olvidaras:" %} {{ user.get_username }}

{% trans "Gracias por usar nuestros servicios!" %}

{% blocktrans %}Atte:  {{ site_name }} {% endblocktrans %}

{% endautoescape %}